<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:layout name="ProduktmitSidebarLeft" />

    <f:section name="Configuration">
        <flux:form id="produktmitsidebarleft"
                   label="Produktseite mit Sidebar Links">
        </flux:form>
        <flux:grid>
            <flux:grid.row>
                <flux:grid.column colPos="101" colspan="3" name="contentsection1" label="Content Section 1" />
            </flux:grid.row>
            <flux:grid.row>
                <flux:grid.column colPos="110" colspan="3" name="dynfooter1" label="Dyn: Footer 1" />
            </flux:grid.row>
        </flux:grid>
    </f:section>

    <f:section name="Main">

        <section class="teaser-section" id="teaser-section">
            <div class="container">
                <div class="row frame">
                    <div class="col-md-6">
                        <v:page.resources.fal record="{page}" field="media" as="images">
                            {images -> v:iterator.first() -> v:variable.set(name: 'image')}
                            <v:media.exists file="{image.url}">
                                <f:image src="{image.url}" alt="{image.name}" class="img-responsive" width="570" />
                            </v:media.exists>
                        </v:page.resources.fal>
                    </div>
                    <div class="col-md-6">
                        <header>
                            <h2>
                                {page.title}
                                <small>{page.subtitle}</small>
                            </h2>
                            <f:if condition="{page.abstract}">
                                <p>{page.abstract}</p>
                            </f:if>
                        </header>
                    </div>
                </div>
            </div>
        </section>

        <div class="container content-container">
            <div class="row">
                <div class="col-md-3">
                    <f:render section="SubNavigation" partial="Page/Navigation/Subnavigation" arguments="{_all}" />
                    <v:content.render column="102" />
                </div>
                <div class="col-md-9">
                    <v:content.render column="101" />
                </div>
            </div>
        </div>

    </f:section>
</div>


