<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Startseite" />

	<f:section name="Configuration">
		<flux:form id="startseite"
				   label="Startseiten Template">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
		</flux:form>
		<flux:grid>
			<!-- Edit this grid to change the "backend layout" structure -->
			<flux:grid.row>
				<flux:grid.column colPos="100" colspan="3" name="teasersection" label="Teaser Section" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="101" colspan="3" name="contentsection1" label="Content Section 1" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="102" colspan="3" name="contentsection2" label="Content Section 2" />
			</flux:grid.row>
			<flux:grid.row>
				<flux:grid.column colPos="110" colspan="1" name="dynfooter1" label="Dyn: Footer 1" />
				<flux:grid.column colPos="111" colspan="2" name="dynfooter2" label="Dyn: Footer 2" />
			</flux:grid.row>
		</flux:grid>
	</f:section>

	<f:section name="Main">
		<div class="teaser-section section" id="teaser-section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<v:content.render column="100" />
					</div>
				</div>
			</div>
		</div>

		<div class="section-padding shadow-20 section">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<v:content.render column="101" />
					</div>
				</div>
			</div>
		</div>

		<div class="section-padding section graphpaper-background">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<v:content.render column="102" />
					</div>
				</div>
			</div>
		</div>



	</f:section>
</div>


